<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  description="Allows for admin to check a student to be searchable by special programs"
  name="Special Program Checkboxes"
  version="0.1.0"
  xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">

  <access_request>
    <field table="STUDENTS" field="DCID" access="ViewOnly" />
    <field table="S_UT_STU_X" field="special_ed_indicator" access="FullAccess" />
  </access_request>

  <publisher name="Iron County School District Data Team">
    <contact email="data@ironmail.org"/>
  </publisher>
</plugin>
